<h1>Animals at the Zoo</h1>
<div>
  <ol>
  <% @animals.each do |animal| %>
      <li>
        <%= link_to animal.name, animal_path(animal.id)%>
      </li>
  <% end %>
  </ol>
</div>

<p>
  <%= link_to "Add a new animal", new_animal_path %>
</p>
